
.navbar-light .navbar-toggler{
    border-color: aliceblue;
}

nav .navbar-nav li a{
    color: orange!important;
    font-size: 24px;
    }
.col-md-6{
    background: lightgray;
}
.col-md-4{
    background: lightgreen;
    padding: 15px;
}
.col-md{
    background: lightblue;
}
.container{
    background: lightcoral;
}
.navbar{
    background:#5a88dd; 
 
}
#left{
    background: orange;
    padding: 15px;
}
#right{
    background: yellow;
}
@media (max-width: 800px) { 
    #idisappear{
        display: none;
    }
 }